    
    <!--<footer class="footer" style= "position: fixed; bottom: 0; width: 100vw; height: 60px; margin: 20px; text-align: center;">-->
    <!--    <div class="container">-->
    <!--        <p class="text-muted">&copy; Caprola Squad 2018 | <a href="/connections">Home</a> | <a href="/connections/new">New Connection</a> | <a href="https://github.com/SidneyBuckner">GitHub</a> | <a href="https://twitter.com/sidneybuckner18">Twitter</a> | <a href="mailto:sidney.buckner2@gmail.com">Contact</a></p>-->
    <!--    </div>-->
    </footer> 
</body>
</html>