body {

  background-image: url("https://res.cloudinary.com/dis4cu0r6/image/upload/v1537208242/Ball-Under-the-Arch.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* .color {
  background-color: #666666;
} */
