<html>

<head>
  <link rel="stylesheet" href='bg.css'/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <style>
     h1 {text-align: center;}
     div {background-color: rgba(0, 0, 0, .70); min-width: 75%; max-height: 80%;}
     .btn {min-width: 250px; min-height: 200px; justify-content: space-between;}
  </style>

</head>

<body>
<div>
<h1>Please Choose Your State:</h1>
<button type="button" class="btn btn-lg">AR</button>
<button type="button" class="btn btn-lg">IL</button>
<button type="button" class="btn btn-lg">IA</button>
<button type="button" class="btn btn-lg">KS</button>
<button type="button" class="btn btn-lg">KY</button>
<button type="button" class="btn btn-lg">MO</button>
<button type="button" class="btn btn-lg">NE</button>
<button type="button" class="btn btn-lg">OK</button>
<button type="button" class="btn btn-lg">TN</button>
<div>
</body>
</html>
