<!-- <% include partials/header %> -->
<div class="container">
  <p>Choose your State:</p>
<% states.forEach(function(state){ %>
  <div>
    <h4><a href="#"> <%= state.name %> </a>
    <!-- <a href="#"><img src="<%= state.image %>"></a> -->
  </div>
<% }); %>
<!--
<% include partials/footer %> -->
