<% include partials/header %>
<div class="container">
  <p>Choose your State:</p>
  <div>
    <ul>
      <li>Arkansas</li>
      <li>Illinois</li>
      <li>Iowa</li>
      <li>Kansas</li>
      <li>Kentucky</li>
      <li>Missouri</li>
      <li>Nebraska</li>
      <li>Oklahoma</li>
      <li>Tennessee</li>
    </ul>
  </div>


<% include partials/footer %>
